* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* CONTAINER  */

.container-general {
    height: 100vh;
    width: 100vw;
    /* ha senso un container general con 100vh e 100vw? o sarebbe uguale senza? */
}

.container-upper {
    display: flex;
    height: calc(100vh - 100px);
}

/* MAIN */

main {
    width:calc(100% - 250px);
    background-color: #141922;
    overflow: scroll;
    position: relative;
    color: white;
    
}

#container-main {
    padding: 10px;
    padding-top: 80px;
    /* non capisco perchè non funziona padding laterale */
}

#container-main h1 {
    margin-bottom: 20px;
}

#container-main h2 {
    font-size: 16px;
    margin: 10px 0px;
}



#container-main h5 {
    margin-bottom: 20px;
    color: #74777b;
}


#fadebar {
    height: 80px;
    width: calc(100% - 250px);
    background-color: black;
    filter: opacity(50%);
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    /* perchè se faccio justify content flex-end mi sparisce il bottone? */
    justify-content: end;
    /* ora funziona perchè ho aggiustato la width da 100% a calc(100%-250px)
    qua non capisco perchè 100% non andava bene */
    padding: 10px;
   
}

.button {
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    border: white 1px solid ;
    font-size: 12px;
   
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#container-main .col {
    width: calc(100% / 6);
    padding: 0px 10px;

}

#container-main .card {
    padding: 0px 10px;
    border: white 1px solid;
    height: 100%;

}

.img.big {
    width: 100%;
    position: relative; 
    /* position relative mi serve per mettere il bottone play in absolute e centrarlo */
    
}

.img.big img {
    width: 100%;
    
}

.play-card {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    display: none;
}

.play-card i {
    margin: 0;
    font-size: 40px;
}




.song-description {
    text-align: center;
} 

section {
    margin: 40px 0px;
}

#most-popular .img.big {
    border-radius: 50px;
    border: white 1px solid;
    width: 50px;
    height: 50px
}

#most-popular img {
    object-fit:contain;
}



/* SIDE */

#side {
    width:  250px;
    background-color: #000000;
    padding: 10px;
    color: #636363;
    position: relative;
}



/* logo */

#logo{
    width: 80%;
    padding-bottom: 20px;
}

/* azioni principali /nav */
ul {
    list-style: none;
    color: #636363;
    padding-bottom: 20px;
    
}

li {
    margin: 10px 0px;
}

a {
    text-decoration: none;
    color: #636363;
}

#home {
    border-left: 1px green solid;
}

.fa-solid, .fa-regular {
    margin-right: 10px;
}

/* playlist section */

#playlist-flex {
    /* height: 200px;
    display: flex;
    flex-direction: column;
    overflow: scroll; */
    /* scroll non funziona, è come se non capisse che ad un certo punto non c'è + spazio per contenere tutto e non diventa mai scroll */
}

#playlist-section * {
    margin: 10px 0px;
}

#create-playlist {
    vertical-align: center;
    line-height: 25px;
}

 #playlist-add {
    display: inline-block;
    background-color: #a3a3a3;
    color: black;
    font-size: 24px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: center;
}

/* sidebar bottom section */

#sidebar-bottom-section {
    position: relative;
    bottom: 0px;
}

#install {
    line-height: 30px;
    vertical-align: center;
}

#install-button {
    width: 10%;
}

/* FOOTER */ 

footer {
    display: flex;
    /* è sbagliato dare il flex al footer senza fare un container? */
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;
    background-color: #282828;
}

footer .col {
    color: #dbdbdb;
    height: 52px;
}

footer .row {
    align-items: center;
    height: 100%;
}

footer a {
    text-decoration: none;
    color: white;

}

/* box a sinistra */
.img-small {
    height: 50px;
    width: 50px;
}

.img-small img {
    width: 100%;
}

.song-playing {
    padding-left: 10px;
    font-size: 12px;
}

.artist {
    font-weight: bold;
}

.icons {
    margin-left: 40px;

}

.icons a {
color: #757575;
}

/* box al centro */
.col.center .row {
display: flex;
flex-direction: column;
justify-content: space-between;
}


/* box a destra */
.volume-bar.big {
    height: 4px;
    width: 50px;
    border: 2px grey solid;
    border-radius: 50px;
}

.volume-bar.small {
    height: 4px;
    width: 20px;
    border: 2px white solid;
    border-radius: 50px;
    position: relative;
    right: 50px;
    /* a causa di questo postion relative mi rimane 20px di margine a destra nel contenitore, come lo elimino? */
}




/*  HOVER */

.button:hover {
    font-size: 14px;
}

#side a:hover {
    color: white;
}

#playlist-add a:hover {
    background-color: white;
}

.card:hover img {
    filter: opacity(50%);
}

.card:hover .play-card {
    display: block;
}








/* DEBUG */

.col {
    min-height: 40px;
    min-width: 100px;
    border: orange 1px solid;
}


